.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--dark-fon);

    


    


&__container {
    @media screen and (min-width:480px) {
            display: flex;
            flex-direction: column;
        }

    @media screen and (min-width:768px) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            padding: 0;
            
        }
    
     @media screen and (min-width:1200px) {
        gap: 70px;
        }


    }
   
    


&__block {
    @media screen and (min-width:480px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
        }

    
}

&__block:not(:last-child) {
    margin-bottom: 60px;
    @media screen and (min-width:1200px) {
        margin-left: auto;
        }
}


&__item {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    color: var(--white-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
}