.partners-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;


&__link {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 170px;
    height: 92px;
    
    background-color: var(--primary-white-fon);
    border: 1px solid var(--logo-fill);
    border-radius: 4px;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__link:hover,
&__link:focus {
    border: 1px solid var(--accent-color);
}

&__logo {
    fill: var(--logo-fill);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__link:hover &__logo,
&__link:focus &__logo {
    fill: var(--accent-color);
}
}