.teamcard {
    background: var(--grey-fon);
}

.teamcard-list {
    display: block;
    margin-top: 50px;

@media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
}


&__block {
    background-color: var(--primary-white-fon);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

&__block:nth-child(2n + 1) {
    @media screen and (min-width:768px) {
        margin-right: 30px;
    }
}

&__block:nth-child(-n + 2) {
    @media screen and (min-width:768px) {
        margin-bottom: 30px;
    }

    @media screen and (min-width:1200px) {
        margin-right: 0;
    }

    @media screen and (min-width:1200px) {
        margin-bottom: 0;
    }
}


&__block:not(:last-child) {
    @media screen and (min-width:1200px) {
        margin-right: 30px;
    }
}

&__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

   
}

&__item {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color: var(--item-text-color);

}

&__text {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}
}